VITE_SUPABASE_URL=https://lasiauvrppslxumksggz.supabase.co
VITE_SUPABASE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxhc2lhdXZycHBzbHh1bWtzZ2d6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMDk1MTEsImV4cCI6MjA4Nzg4NTUxMX0.-HYGsPvzMzff3DDppOrwBllgM05kUuMM38l1jGbI1to
